*{
    color: lightsteelblue;
    position: relative;
    background-repeat: no-repeat;

}

.headerSection{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.headerEl{
    justify-content: center;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 50px;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  

  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.cell{
    background-blend-mode: hard-light;
    text-align: left;
    font-family: 'Itim', cursive;
}

.card{
    font-family: 'Itim', cursive;
}

.mainBody{
    filter: hue-rotate(90deg);
    text-shadow: 1px 1px 1.5px rgb(255, 255, 255), 0 0 1em rgb(28, 28, 141), 0 0 0.2em blue;
}

/* .media-object-group{
  
}

.card-divider{

}

#card-date{

}

.button{

} */

.date-selected{
    color: white;
}

#switch-btn{
    display: flex;
    justify-content: center;
    background-color: silver;
    border: 10px;
    border-color: black;
    border-radius: 10px;
}

#nasa-api-explanation{
    text-align: left;

}

#nasa-api-img{
    cursor: zoom-in;
}

#card-header{
    font-family: 'Itim', cursive;
}



#footer{
    display: block;
    text-align: center;
}

#nasa-api-explanation{
    cursor: help;
}