*{
    color: lightsteelblue;
    position: relative;
}

.headerSection{
    display: flex;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.headerEl{

    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Itim', cursive;
}

.cell{
    background-blend-mode: hard-light;
    
    text-align: left;
    font-family: 'Itim', cursive;
}

.card{
    cursor: help;
    background-color: rgb(109, 121, 137);
    font-family: 'Itim', cursive;
}

.mainBody{
    background-image: url("../images/nightsky3.jpg");
    filter: hue-rotate(90deg);
    display: flex;
    background-size: cover;
    text-shadow: 1px 1px 1.5px rgb(255, 255, 255), 0 0 1em rgb(28, 28, 141), 0 0 0.2em blue;
}

.media-object-group{
    padding: 15px;
    margin: 15px;    
}

#headerEl2{
    padding-top: 185px;
}

#nasa-api-explanation{
    text-align: left;
    display: flex;
    text-shadow: #9aa9ff 1px 1px 1px, 5 1px;
}

#nasa-api-img{
    cursor: zoom-in;
}

#card-header{
    font-family: 'Itim', cursive;
    text-decoration: wavy;
    text-shadow: 50px 10px, black;
}

#card-date{
    padding-left: 15px;
    margin-left: 25px;
}

#footer{
    display: block;
    text-align: center;
}