*{
    color: aliceblue;
}

.headerSection{
    display: flex;
}

.headerEl{
    text-align: center;
    font-family: 'Itim', cursive;
}


#root{
    position: absolute;
}


.mainBody{
    background-image: url(./images/nightSky3.jpg);
    display: flex;
    
    background-size: cover;

